@use "sass:map";
@use "methods";
@use "variables";

html {
  background-color: variables.$main;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;

  @media print {
    font-size: 10px;
    font-size: .625rem;
    line-height: 1.2;
  }
}

* {
  box-sizing: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.visually-hidden {
  @include methods.govuk-visually-hidden();
}

.no-print {
  @media print {
    display: none;
  }
}

svg {
  display: block;
}

::-moz-selection { background-color: map.get(variables.$light-mode, 'highlight'); color: map.get(variables.$light-mode, 'highlight-color'); }
::selection { background-color: map.get(variables.$light-mode, 'highlight'); color: map.get(variables.$light-mode, 'highlight-color'); }
