@use "sass:map";
@use "methods";
@use "variables";

body {
  margin: 0 auto;
  max-width: 48rem;

  > footer {
    font-family: "Amatic SC", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    left: 1rem;
    margin-top: 3rem;
    position: absolute;
    right: 1rem;
    text-align: center;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      bottom: 1rem;
      text-align: right;
    }
  }
}
