@use "sass:map";
@use "methods";
@use "variables";

body {
  margin: 0 1rem;
  max-width: 48rem;
  min-height: 100vh;
  position: relative;

  @include methods.clearfix;

  @include methods.min(48em + 1em) {
    margin: 0 auto;
    padding-bottom: 400px;
  }

  > header, > main, > footer {
    @include methods.clearfix;
  }

  > footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      margin-top: 3rem;
      text-align: left;
    }

    a, a:link, a:visited {
      height: 2.25em;
      width: 2.25em;

      @include methods.button() {
        svg path {
          fill: map.get(variables.$light-mode, 'foreground');
        }

        &:active, &:hover {
          fill: map.get(variables.$light-mode, 'link-active');

          &.linkedin svg path {
            fill: map.get(variables.$social, 'linkedin');
          }
        }
      }
    }

    .copyright {
      line-height: 2.5;
      text-transform: uppercase;

      @include methods.min(map.get(variables.$width, 'tablet')) {
        float: left;
        margin-right: gutter(6 of 12);
        width: span(6 of 12);
      }
    }

    .icons {
      cursor: default;
      user-select: none;

      @include methods.min(map.get(variables.$width, 'tablet')) {
        float: right;
        margin-right: 0;
        text-align: right;
        width: span(6 of 12);
      }
    }

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;

      @include methods.min(map.get(variables.$width, 'tablet')) {
        justify-content: flex-end;
      }
    }

    ul li {
      display: inline-block;
      margin: .075rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
