@use "sass:map";
@use "methods";
@use "variables";

body {
  margin: 0 auto;
  max-width: 48rem;

  div.language-selection {
    position: absolute;
    right: 0;
    top: 0;

    a {
      display: inline-block;
      height: 1.3rem;
      width: 1.9rem;

      &[data-language=Polski] {
        background-image: url(/img/translations/pl.svg);
      }

      &[data-language=English] {
        background-image: url(/img/translations/en.svg);
      }
    }
  }

  > header {
    text-align: center;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      margin: 2rem;
    }

    @media print {
      margin-bottom: 3rem;
    }

    h1 {
      display: none;
      font-family: "Amatic SC",sans-serif;
      font-size: 4rem;
      font-weight: 600;
      text-align: left;

      @media print {
        display: block;
      }

      small {
        display: block;
      }
    }

    nav ol {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 1rem;
        vertical-align: middle;

        a {
          backdrop-filter: blur(1rem);
          background-color: variables.$backlight;
          border-radius: .5rem;
          display: inline-block;
          font-family: "Amatic SC",sans-serif;
          font-size: 2.5rem;
          font-weight: 600;
          line-height: 1;
          text-transform: uppercase;
          padding: 0.5rem;

          &.logo {
            height: 4.5rem;
            width: 4.5rem;
          }
        }
      }
    }
  }

  > footer {
    font-family: "Amatic SC", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      bottom: 1rem;
      text-align: right;
    }
  }
}
