@use "sass:color";
@use "sass:map";

$light-mode: (
  background: #F6FFFC,
  foreground: #0C2E34,
  secondary: #505a5f,
  highlight: #FF7298,
  highlight-color: #F6FFFC,
  link: #4FAE84,
  link-active: #FF7298,
);

$backlight: rgba(
  color.channel(map.get($light-mode, 'background'), 'red'),
  color.channel(map.get($light-mode, 'background'), 'green'),
  color.channel(map.get($light-mode, 'background'), 'blue'),
  .85
);

$width: (
  mobile: 20em,
  tablet: 48rem,
  desktop: 60rem,
);
