$main: #004643;

$light-mode: (
  background: #004643,
  foreground: #fff,
  secondary: #505a5f,
  highlight: #ffb3aa,
  highlight-color: #272727,
  link: #9e3834,
  link-active: #308559,
);

$social: (
  linkedin: #007bb6,
);

$width: (
  mobile: 20em,
  tablet: 48rem,
  desktop: 60rem,
);
