$light-mode: (
  background: #FFEFCF,
  foreground: #522D33,
  secondary: #505a5f,
  highlight: #ffb3aa,
  highlight-color: #272727,
  link: #47D29F,
  link-active: #d24798,
);

$social: (
  linkedin: #007bb6,
);

$width: (
  mobile: 20em,
  tablet: 48rem,
  desktop: 60rem,
);
