@use "sass:map";
@use "core";
@use "methods";
@use "variables";

html[data-page='404'] {
  background-attachment: fixed;
  background-image: url(./bg-landing.svg);
  background-position: left bottom;
  background-repeat: no-repeat;

  @include methods.min(map.get(variables.$width, 'mobile')) {
    background-position: inherit;
  }
}

body > main#not-found {
  margin-top: 5rem;
  text-align: center;

  h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 6rem;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      font-size: 10rem;
    }
  }

  p {
    font-family: "Amatic SC", sans-serif;
    font-size: 3rem;
    margin: 0;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      font-size: 6rem;
    }
  }
}
