@use "sass:map";
@use "core";
@use "methods";
@use "variables";

body > main#holding {
  text-align: center;

  h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 6rem;


    @include methods.min(map.get(variables.$width, 'tablet')) {
      font-size: 10rem;
    }
  }

  p {
    font-family: "Amatic SC", sans-serif;
    font-size: 3rem;
    margin: 0;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      font-size: 7rem;
    }
  }
}
