@import "core";

body > main#holding {
  text-align: center;

  h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 6rem;


    @include min(map_get($width, 'tablet')) {
      font-size: 10rem;
    }
  }

  p {
    font-family: "Amatic SC", sans-serif;
    font-size: 3rem;
    margin: 0;

    @include min(map_get($width, 'tablet')) {
      font-size: 7rem;
    }
  }
}
