@use "sass:color";
@use "sass:map";
@use "core";
@use "methods";
@use "variables";

html[data-page=home] {
  background-attachment: fixed;
  background-image: url(/img/background/landing.svg);
  background-position: left bottom;
  background-repeat: no-repeat;

  @include methods.min(map.get(variables.$width, 'tablet')) {
    background-position: inherit;
  }

  body > footer {
    bottom: 1rem;
    left: 1rem;
    margin-top: 3rem;
    position: absolute;
    right: 1rem;
  }
}

body > main#home {
  text-align: center;

  @include methods.min(map.get(variables.$width, 'tablet')) {
    left: 0;
    margin-top: -150px;
    position: absolute;
    right: 0;
    top: 50%;
  }

  @include methods.min(map.get(variables.$width, 'desktop')) {
    padding-right: 12rem;
    text-align: right;
  }

  figure {
    background-color: variables.$backlight;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 3rem;
    padding: 1rem 0;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      margin-top: 1rem;
      text-align: right;
    }

    & > div {
      display: inline-block;
      width: 9rem;

      @include methods.min(map.get(variables.$width, 'tablet')) {
        width: 10.5rem;
      }
    }

    & > figcaption {
      display: inline-block;
      max-width: 17rem;
      text-align: left;

      @include methods.min(map.get(variables.$width, 'tablet')) {
        max-width: 21rem;
      }
    }
  }

  h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    line-height: 0.7;
    margin: 0;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      font-size: 6rem;
    }
  }

  h2 {
    color: #000;
    font-family: "Amatic SC", sans-serif;
    font-size: 1.74rem;
    letter-spacing: 3%;
    margin: 0;
    margin-left: .3rem;
    line-height: 1.1;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      font-size: 2.1rem;
    }
  }

  nav {
    display: inline-block;
    text-align: center;
    width: 100%;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      margin-top: 5rem;
    }

    @include methods.min(map.get(variables.$width, 'desktop')) {
      padding-right: 2rem;
      text-align: right;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      & > li {
        display: block;
        margin: 2rem 0;

        @include methods.min(map.get(variables.$width, 'tablet')) {
          display: inline-block;
          margin: 0 2rem;
        }
      }

      a {
        $border: rgba(
          color.channel(map.get(variables.$light-mode, 'foreground'), 'red'),
          color.channel(map.get(variables.$light-mode, 'foreground'), 'green'),
          color.channel(map.get(variables.$light-mode, 'foreground'), 'blue'),
          .5
        );
        backdrop-filter: blur(1rem);
        background-color: variables.$backlight;
        border: 1px solid $border;
        border-radius: .5rem;
        display: inline-block;
        font-family: "Amatic SC",sans-serif;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        padding: 0.5rem;

        @include methods.min(map.get(variables.$width, 'tablet')) {
          border: none;
        }
      }
    }
  }
}
