@use "sass:color";
@use "sass:map";
@use "core";
@use "methods";
@use "variables";

html[data-page=portfolio] {
  background-attachment: fixed;
  background-image: url(/img/background/page.svg);
  background-position: left bottom;
  background-repeat: no-repeat;

  @include methods.min(map.get(variables.$width, 'tablet')) {
    background-position: inherit;
  }

  body > footer {
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: right;
  }
}

body > main#portfolio {
  section {
    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      text-align: left;
    }
  }

  a {
    display: block;

    @include methods.min(map.get(variables.$width, 'tablet')) {
      display: inline-block;
      width: 50%;
    }

    figure {
      height: 20rem;
      text-align: center;

      div {
        background-color: map.get(variables.$light-mode, 'foreground');
        background-position: center;
        background-size: cover;
        border-radius: 10rem;
        display: block;
        height: 15rem;
        margin: 1rem auto;
        width: 15rem;
        transition: box-shadow .3s, height .3s, margin .3s, width .3s;
      }

      figcaption {
        font-family: "Amatic SC", sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
      }
    }

    &:hover, &:active {
      figure {
        div {
          box-shadow: 0 0 1rem map.get(variables.$light-mode, 'secondary');
          height: 16rem;
          margin: 0 auto;
          width: 16rem;
        }
      }
    }
  }
}
