@use "sass:color";
@use "sass:map";
@use "core";
@use "methods";
@use "variables";

html {
  background-attachment: fixed;
  background-image: url(/img/background/page.svg);
  background-position: left bottom;
  background-repeat: no-repeat;

  @include methods.min(map.get(variables.$width, 'tablet')) {
    background-position: inherit;
  }

  body > footer {
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: right;
  }
}

body > main#showroom {
  section {
    padding: 0 1rem;
    &:not(:first-of-type) {
      margin-top: 3rem;
    }
  }

  h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
    padding: 1rem;
    padding-bottom: 0;
  }

  h3 {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 300;
    margin-top: 0;
    padding: 1rem;
    padding-top: 0;
  }

  figure {
    display: inline-block;
    margin: 0;
    text-align: center;
  }

  div.container {
    display: grid;
    gap: .5rem;
  }

  img {
    background-color: map.get(variables.$light-mode, 'foreground');
    border: 1px solid map.get(variables.$light-mode, 'foreground');
    display: inline-block;
    max-height: 700px;
    max-width: 100%;
    vertical-align: top;
  }
}
