@use "sass:color";
@use "sass:map";
@use "core";
@use "methods";
@use "variables";

html {
  div.page.background {
    background-image: url(/img/background/page.svg);
  }

  body > footer {
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    text-align: right;
  }
}

body > main#showroom {
  position: relative;
  padding-bottom: 3rem;

  #back {
    background-color: variables.$backlight;
    border-radius: 0.5rem;
    bottom: 1rem;
    display: block;
    font-family: "Amatic SC", sans-serif;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    padding: 0.6rem;
    padding-top: 1.1rem;
    padding-right: 1.1rem;
    position: fixed;
    transition: color .3s;

    @media print {
      display: none;
    }

    div {
      display: inline-block;
      position: absolute;
      right: 0.1rem;
      top: 0.35rem;

      svg {
        fill: map.get(variables.$light-mode, 'link');
        width: 5.5rem;
        transition: fill .3s;
      }
    }

    &:hover, &:active {
      div svg {
        fill: map.get(variables.$light-mode, 'link-active');
      }
    }
  }

  section {
    padding: 0 1rem;

    &:not(:first-of-type) {
      margin-top: 3rem;
    }

    @media print {
      padding: 0;
      page-break-inside: avoid;
    }
  }

  section.index {
    display: none;

    @media print {
      display: block;
    }

    h2 {
      font-family: "Amatic SC", sans-serif;
      font-size: 4.5rem;
      font-weight: 600;
      line-height: 1;
    }

    figure {
      display: inline-block;
      height: 20rem;
      margin: revert;
      text-align: center;

      @media print {
        page-break-inside: avoid;
      }

      div {
        background-color: map.get(variables.$light-mode, 'foreground');
        background-position: center;
        background-size: cover;
        border-radius: 10rem;
        display: flex;
        height: 15rem;
        margin: 1rem auto;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        width: 15rem;
        transition: box-shadow .3s, height .3s, margin .3s, width .3s;

        img {
          display: inline-block;

          &.portrait {
            max-height: unset;
            max-width: 100%;
          }

          &.landscape {
            max-height: 100%;
            max-width: unset;
          }
        }
      }

      figcaption {
        font-family: "Amatic SC", sans-serif;
        font-size: 2.5rem;
        font-weight: 600;

        span {
          backdrop-filter: blur(1rem);
          background-color: variables.$backlight;
          border-radius: .5rem;
          padding: .5rem;

          @include methods.min(map.get(variables.$width, 'tablet')) {
            background-color: unset;
            backdrop-filter: unset;
          }
        }
      }
    }
  }

  h3 {
    font-family: "Amatic SC", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
    padding: 1rem;
    padding-bottom: 0;

    @media print {
      padding: 1rem 0;
      padding-bottom: 0;
    }
  }

  h4 {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 300;
    margin-top: 0;
    padding: 1rem;
    padding-top: 0;

    @media print {
      padding: 1rem 0;
      padding-bottom: 0;
    }
  }

  figure {
    display: inline-block;
    margin: 0;
    text-align: center;
  }

  div.container {
    display: grid;
    gap: .5rem;
  }

  img {
    background-color: map.get(variables.$light-mode, 'foreground');
    border: 1px solid map.get(variables.$light-mode, 'foreground');
    display: inline-block;
    max-height: 700px;
    max-width: 100%;
    vertical-align: top;
  }
}
